
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 150rem;
}.about-me-gA1 {
  width: 100%;
  height: 138.4rem;
  overflow: hidden;
  position: relative;
  background-color: #000000;
  box-sizing: border-box;
  padding-top: 5.5rem;

  .about-me-C8M {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;

    .auto-group-rdcq-93b {
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0rem 20.1rem 15.5rem 10.2rem;
      width: 100%;
      display: flex;

      .navbar-eW9 {
        flex-shrink: 0;
        margin-bottom: 26.1rem;
        width: 100%;
        display: flex;
        align-items: flex-start;

        .my-brand-zK7 {
          flex-shrink: 0;
          margin-right: 35.4rem;
          font-size: 3.6rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #34b759;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .home-tfP {
          font-size: 2rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.3rem 5.9rem 0rem 0rem;
          cursor: pointer;
          font-weight: 800;
          line-height: 1.2125;
        }
        .about-me-zyK {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 5.9rem;
          font-size: 2rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #34b759;
        }
        .portfolio-jg1 {
          font-size: 2rem;
          font-weight: 800;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 5.9rem;
          cursor: pointer;
          line-height: 1.2125;
          color: #ffffff;
        }
        .contact-me-fJm {
          margin-right: 5.9rem;
          font-weight: 800;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 2rem;
          line-height: 1.2125;
        }
        .login-z69 {
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 2rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .words-KPK {
        margin-bottom: 4.6rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .hello-welcome-GJZ {
          font-size: 2rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #34b759;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 8.1rem 1.1rem;
        }
        .i-am-jean-plaubert-rukundo-aKF {
          margin-bottom: 7.9rem;
          font-size: 4.8rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .a-passionate-software-engineer-and-data-scientist-with-experience-proficient-in-python-javascript-and-data-analysis-specialized-in-machine-learning-and-ai-dedicated-to-solving-complex-problems-and-thriving-in-collaborative-environments-lifelong-learner-technology-enthusiast-and-effective-communicator-lets-innovate-together-3id {
          font-weight: 800;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 79.5rem;
          font-size: 2rem;
        }
      }
      .contact-btn-quP {
        justify-content: center;
        border-radius: 1rem;
        flex-shrink: 0;
        font-weight: 800;
        line-height: 1.2125;
        white-space: nowrap;
        margin-left: 1.1rem;
        width: 22.3rem;
        font-size: 2rem;
        display: flex;
        align-items: center;
        height: 6.3rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        background-color: #34b759;
      }
    }
    .footer-page-ueM {
      background-color: #000000;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 7.4rem 0rem 2.8rem 0rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .auto-group-ehdw-dqF {
        display: flex;
        align-items: flex-end;
        border: solid 0.4rem #34b759;
        box-sizing: border-box;
        padding: 0rem 5.7rem 0rem 1.1rem;
        width: 100%;
        flex-shrink: 0;
        margin-bottom: 1.4rem;
        height: 24.8rem;
        background-color: #000000;

        .auto-group-xex4-9Ho {
          margin: 0rem 4.1rem 0.3rem 0rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .we-work-with-clients-from-all-over-the-world-get-in-touch-with-us-rxu {
            font-size: 2.4rem;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            margin-bottom: 2.9rem;
            white-space: nowrap;
            display: flex;
            align-items: baseline;
            flex-shrink: 0;
            font-weight: 800;

            .we-work-with-clients-from-all-over-the-world-get-in-touch-with-us-rxu-sub-0 {
            }
            .we-work-with-clients-from-all-over-the-world-get-in-touch-with-us-rxu-sub-1 {
              font-size: 2.4rem;
              font-weight: 800;
              line-height: 1.2125;
              color: #34b759;
              font-family: Inter, 'Source Sans Pro';
            }
            .we-work-with-clients-from-all-over-the-world-get-in-touch-with-us-rxu-sub-2 {
            }
            .we-work-with-clients-from-all-over-the-world-get-in-touch-with-us-rxu-sub-3 {
              font-size: 2.4rem;
              font-weight: 800;
              line-height: 1.2125;
              color: #34b759;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .auto-group-34rj-B1X {
            margin: 0rem 0rem 3.7rem 0.5rem;
            height: 10.3rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-mv68-VY1 {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0.8rem 11.2rem 0.2rem 0rem;

              .my-brand-1WM {
                font-size: 3.6rem;
                font-weight: 800;
                line-height: 1.2125;
                color: #34b759;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.1rem 24.7rem 0rem 0rem;
              }
              .auto-group-x9xy-K1F {
                align-items: flex-end;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                height: 100%;

                .skill-icons-linkedin-TNM {
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 7.5rem;
                  height: 6.8rem;
                  object-fit: contain;
                }
                .linkedin-zNH {
                  margin-right: 0.2rem;
                  font-size: 2rem;
                  align-items: baseline;
                  flex-shrink: 0;
                  display: flex;
                  font-weight: 800;
                  line-height: 1.2125;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;

                  .linkedin-zNH-sub-0 {
                  }
                  .linkedin-zNH-sub-1 {
                    font-family: Inter, 'Source Sans Pro';
                    font-size: 2rem;
                    font-weight: 800;
                    line-height: 1.2125;
                    color: #0072c6;
                  }
                }
              }
            }
            .auto-group-wj4k-Ag5 {
              margin-right: 8.3rem;
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .auto-group-depw-Hkh {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 0.036rem 0.219rem 0rem;
                width: 7.0643rem;
                height: 7.5813rem;
                position: relative;
              }
              .outlook-9Y1 {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 800;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
              }
            }
            .auto-group-ybue-fmF {
              height: calc(100% - 1.3rem);
              align-items: flex-end;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 0.8rem 0rem 0.5rem 0rem;

              .vector-QD3 {
                height: 6.5rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 0.0376rem;
                width: 6.2624rem;
              }
              .twitter-jm7 {
                font-weight: 800;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
              }
            }
          }
          .auto-group-awmv-t8D {
            align-items: center;
            flex-shrink: 0;
            margin-left: 4.5rem;
            display: flex;

            .mdi-email-DwB {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.3rem 0.5rem 0rem;
              width: 4.3rem;
              height: 4.1rem;
            }
            .engplaubertgmailcom-wsB {
              margin: 1.6rem 31.2rem 0rem 0rem;
              font-size: 2.4rem;
              font-weight: 800;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .ion-call-sharp-GPf {
              margin: 0rem 0.3rem 0.688rem 0rem;
              width: 3.6rem;
              height: 3.9124rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item-250783881477-NxV {
              margin-top: 0.4rem;
              font-size: 2.4rem;
              font-weight: 800;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-962y-tR3 {
          height: calc(100% - 16.5rem);
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 7.4rem 24.4rem 9.1rem 0rem;

          .vector-pJh {
            margin-bottom: 0.5rem;
            width: 6.2rem;
            height: 5.3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .github-xQu {
            font-size: 2rem;
            font-weight: 800;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-s3cg-Vvd {
          flex-shrink: 0;
          margin-bottom: 1rem;
          width: 4.2rem;
          height: 3.7rem;
          object-fit: contain;
          vertical-align: top;
        }
        .rwanda-e2q {
          flex-shrink: 0;
          margin-bottom: 1.1rem;
          font-size: 2.4rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .plaubert-all-rights-reserved-wnd {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 20.3rem;
        font-size: 2.4rem;
        font-weight: 800;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
}
