
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 150rem;
}.contact-me-bdP {
  padding-top: 5.1rem;
  width: 100%;
  position: relative;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  background-color: #000000;

  .contact-me-vQm {
    box-sizing: border-box;
    padding-bottom: 0.2563rem;
    width: calc(100% - 20rem);
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 13.6rem 6.2rem 6.4rem;

    .auto-group-wepn-pW9 {
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0rem 6.5rem 4.8rem 3.8rem;
      width: 100%;
      display: flex;

      .navbar-9HX {
        box-sizing: border-box;
        height: 4.4rem;
        display: flex;
        column-gap: 5.9rem;
        flex-shrink: 0;
        margin-bottom: 9.2rem;
        padding-left: 55rem;
        width: 100%;
        align-items: flex-start;

        .home-rBw {
          white-space: nowrap;
          cursor: pointer;
          font-size: 2rem;
          line-height: 1.2125;
          color: #ffffff;
          margin-top: 0.3rem;
          font-weight: 800;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .about-me-Z6M {
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 2rem;
          font-weight: 800;
        }
        .portfolio-eNh {
          flex-shrink: 0;
          cursor: pointer;
          font-size: 2rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .contact-me-NZb {
          font-size: 2rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #34b759;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .login-6kV {
          font-size: 2rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
        }
      }
      .contact-me-E61 {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 13.3rem;
        font-size: 3.2rem;
        font-weight: 800;
      }
    }
    .auto-group-5nip-MgR {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .contact-me-Q8u {
        margin-right: 10.1rem;
        box-sizing: border-box;
        padding: 3.1rem 4.9rem 2.5rem 4.8rem;
        width: 54.5rem;
        border: solid 0.3rem #34b759;
        background-color: #000000;
        flex-shrink: 0;

        .your-name-hdo {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.9rem;
          font-size: 1.6rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #ffffff;
        }
        .rectangle-3-bz5 {
          margin-bottom: 5rem;
          width: 100%;
          height: 6.3rem;
          background-color: #d9d9d9;
        }
        .your-email-KfB {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.3rem;
          font-size: 1.6rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #ffffff;
        }
        .rectangle-4-rv1 {
          background-color: #d9d9d9;
          margin-bottom: 3.7rem;
          width: 100%;
          height: 6.1rem;
        }
        .your-description-QRj {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.1rem;
          font-size: 1.6rem;
          font-weight: 800;
          line-height: 1.2125;
        }
        .rectangle-5-wRf {
          width: 100%;
          height: 20.7rem;
          background-color: #d9d9d9;
          margin-bottom: 2.9rem;
        }
        .auto-group-s9nl-HkR {
          height: 4.1rem;
          font-size: 1.6rem;
          font-weight: 800;
          display: flex;
          justify-content: center;
          margin-left: 28.2rem;
          font-family: Inter, 'Source Sans Pro';
          align-items: center;
          color: #000000;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          width: 16.6rem;
          line-height: 1.2125;
          white-space: nowrap;
          background-color: #34b759;
        }
      }
      .auto-group-se52-KSD {
        margin-top: 1.8rem;
        width: 65.4rem;
        flex-shrink: 0;

        .get-in-touch-rBF {
          line-height: 1.2102272511;
          display: flex;
          font-weight: 800;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          align-items: baseline;
          margin: 0rem 0rem 3.3rem 20.3rem;
          font-size: 4.8rem;

          .get-in-touch-rBF-sub-0 {
            font-weight: 800;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            font-size: 4.8rem;
          }
          .get-in-touch-rBF-sub-1 {
            font-size: 4.8rem;
            font-weight: 800;
            line-height: 1.2125;
            color: #34b759;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .hello-there-im-thrilled-that-youve-taken-the-time-to-explore-my-portfolio-whether-you-have-questions-want-to-discuss-potential-collaborations-or-just-want-to-connect-id-love-to-hear-from-you-my-virtual-door-is-always-open-and-i-value-every-conversation-feel-free-to-drop-me-a-message-anytime-and-ill-do-my-best-to-respond-promptly-lets-start-a-conversation-and-explore-how-we-can-work-together-or-share-our-ideas-looking-forward-to-hearing-from-you-dUq {
          font-size: 2rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          margin: 0rem 0rem 7.6rem 1rem;
          max-width: 64.4rem;
        }
        .auto-group-ouwr-wP3 {
          margin: 0rem 46.4rem 5.2rem 0.1rem;
          width: calc(100% - 46.4998rem);
          display: flex;
          align-items: center;

          .flat-color-icons-callback-S4u {
            margin-right: 1.6956rem;
            width: 3.8045rem;
            height: 3.8002rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item-250783881477-8yK {
            flex-shrink: 0;
            margin-bottom: 0.2002rem;
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-mtcg-Sj7 {
          margin: 0rem 47.4rem 2.7rem 0.053rem;
          width: calc(100% - 47.4527rem);
          display: flex;
          align-items: center;

          .devicon-twitter-9tR {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.7527rem;
            width: 4.7946rem;
            height: 5rem;
          }
          .jeanplaubert-62y {
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-lbjt-c1K {
          margin: 0rem 53.1rem 3.656rem 0rem;
          width: calc(100% - 53.1rem);
          display: flex;
          align-items: center;

          .skill-icons-linkedin-LT7 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.8rem;
            width: 4.8rem;
            height: 4.7rem;
          }
          .linkedin-sC9 {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            align-items: baseline;
            flex-shrink: 0;
            margin-top: 0.5rem;
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.2125;
            white-space: nowrap;
            display: flex;

            .linkedin-sC9-sub-0 {
            }
            .linkedin-sC9-sub-1 {
              font-weight: 800;
              line-height: 1.2125;
              color: #0072c6;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
            }
          }
        }
        .auto-group-j95w-zvy {
          margin: 0rem 39.7rem 0rem 1.05rem;
          width: calc(100% - 40.7499rem);
          display: flex;
          align-items: center;

          .vscode-icons-file-type-outlook-8XP {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.3486rem;
            width: 4.5016rem;
            height: 3.5875rem;
            position: relative;
            object-fit: contain;
          }
          .engplaubertgmailcom-fGR {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.2125;
            color: #ffffff;
          }
        }
      }
    }
  }
  .footer-page-nbw {
    padding: 7.4rem 0rem 2.8rem 0rem;
    width: calc(100% - 1rem);
    align-items: center;
    display: flex;
    background-color: #000000;
    flex-shrink: 0;
    margin-right: 1rem;
    box-sizing: border-box;
    flex-direction: column;

    .auto-group-vhoj-ghK {
      align-items: flex-end;
      box-sizing: border-box;
      padding: 0rem 5.7rem 0rem 1.1rem;
      width: 100%;
      display: flex;
      flex-shrink: 0;
      margin-bottom: 1.4rem;
      height: 24.8rem;
      border: solid 0.4rem #34b759;
      background-color: #000000;

      .auto-group-keng-oG9 {
        flex-shrink: 0;
        margin: 0rem 4.1rem 0.3rem 0rem;
        display: flex;
        flex-direction: column;

        .we-work-with-clients-from-all-over-the-world-get-in-touch-with-us-iP7 {
          margin-bottom: 2.9rem;
          line-height: 1.2125;
          color: #ffffff;
          white-space: nowrap;
          display: flex;
          align-items: baseline;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 800;
          font-family: Inter, 'Source Sans Pro';

          .we-work-with-clients-from-all-over-the-world-get-in-touch-with-us-iP7-sub-0 {
          }
          .we-work-with-clients-from-all-over-the-world-get-in-touch-with-us-iP7-sub-1 {
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.2125;
            color: #34b759;
            font-family: Inter, 'Source Sans Pro';
          }
          .we-work-with-clients-from-all-over-the-world-get-in-touch-with-us-iP7-sub-2 {
          }
          .we-work-with-clients-from-all-over-the-world-get-in-touch-with-us-iP7-sub-3 {
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.2125;
            color: #34b759;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .auto-group-psq8-gMs {
          margin: 0rem 0rem 3.7rem 0.5rem;
          height: 10.3rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-wijg-oxH {
            padding: 0.8rem 11.2rem 0.2rem 0rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;

            .my-brand-LhK {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.1rem 24.7rem 0rem 0rem;
              font-size: 3.6rem;
              font-weight: 800;
              line-height: 1.2125;
              color: #34b759;
              font-family: Inter, 'Source Sans Pro';
            }
            .auto-group-jxwn-fDo {
              height: 100%;
              align-items: flex-end;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .skill-icons-linkedin-oL1 {
                width: 7.5rem;
                height: 6.8rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .linkedin-iC5 {
                font-size: 2rem;
                font-family: Inter, 'Source Sans Pro';
                align-items: baseline;
                display: flex;
                flex-shrink: 0;
                margin-right: 0.2rem;
                font-weight: 800;
                line-height: 1.2125;
                color: #ffffff;
                white-space: nowrap;

                .linkedin-iC5-sub-0 {
                }
                .linkedin-iC5-sub-1 {
                  font-size: 2rem;
                  font-weight: 800;
                  line-height: 1.2125;
                  color: #0072c6;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
            }
          }
          .auto-group-76gt-6yK {
            flex-shrink: 0;
            margin-right: 8.3rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .auto-group-jedz-T3B {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.036rem 0.219rem 0rem;
              width: 7.0643rem;
              height: 7.5813rem;
              position: relative;
              object-fit: contain;
            }
            .outlook-ZM7 {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 800;
              line-height: 1.2125;
            }
          }
          .auto-group-3n9i-6M3 {
            margin: 0.8rem 0rem 0.5rem 0rem;
            height: calc(100% - 1.3rem);
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .vector-pXw {
              height: 6.5rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.0376rem;
              width: 6.2624rem;
            }
            .twitter-mCH {
              font-size: 2rem;
              font-weight: 800;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-k98g-Ft9 {
          align-items: center;
          flex-shrink: 0;
          margin-left: 4.5rem;
          display: flex;

          .mdi-email-nNH {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.3rem 0.5rem 0rem;
            width: 4.3rem;
            height: 4.1rem;
          }
          .engplaubertgmailcom-tAR {
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 1.6rem 31.2rem 0rem 0rem;
          }
          .ion-call-sharp-Q8m {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.3rem 0.688rem 0rem;
            width: 3.6rem;
            height: 3.9124rem;
            object-fit: contain;
          }
          .item-250783881477-7J5 {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.4rem;
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.2125;
          }
        }
      }
      .auto-group-fh8q-cEq {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 7.4rem 24.4rem 9.1rem 0rem;
        height: calc(100% - 16.5rem);

        .vector-Kuw {
          height: 5.3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          width: 6.2rem;
        }
        .github-SzZ {
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-wdta-9ty {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 1rem;
        width: 4.2rem;
        height: 3.7rem;
      }
      .rwanda-ge1 {
        margin-bottom: 1.1rem;
        font-size: 2.4rem;
        font-weight: 800;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .plaubert-all-rights-reserved-yt1 {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 20.3rem;
      font-size: 2.4rem;
      font-weight: 800;
      line-height: 1.2125;
    }
  }
}
