
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 150rem;
}.footer-page-ZUR {
  flex-direction: column;
  background-color: #000000;
  box-sizing: border-box;
  padding: 3rem 0rem 2.8rem 0rem;
  width: 100%;
  align-items: center;
  display: flex;

  .navbar-3Pb {
    flex-shrink: 0;
    margin: 0 15.2rem;
    width: calc(100% - 30.4rem);
    display: flex;
    align-items: flex-start;

    .my-brand-y2M {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 35.4rem;
      font-size: 3.6rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #34b759;
    }
    .blog-ffs {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.3rem 7.2rem 0rem 0rem;
      font-size: 2rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .about-me-ZmF {
      line-height: 1.2125;
      color: #f5f5f5;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 5.9rem;
      font-size: 2rem;
      font-weight: 800;
    }
    .portfolio-toX {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 5.9rem;
      font-size: 2rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .contact-me-SKF {
      margin-right: 5.9rem;
      font-size: 2rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .skills-BGq {
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 800;
    }
  }
  .auto-group-zhgg-hW5 {
    align-items: flex-end;
    border: solid 0.4rem #34b759;
    margin-bottom: 1.4rem;
    box-sizing: border-box;
    display: flex;
    background-color: #000000;
    flex-shrink: 0;
    padding: 0rem 5.7rem 0rem 1.1rem;
    width: 100%;
    height: 24.8rem;

    .auto-group-7qwj-1Fs {
      flex-shrink: 0;
      margin: 0rem 4.1rem 0.3rem 0rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      .we-work-with-clients-from-all-over-the-world-get-in-touch-with-us-XED {
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        flex-shrink: 0;
        margin: 0rem 16.8rem 2.9rem 0rem;
        font-size: 2.4rem;
        color: #ffffff;
        white-space: nowrap;
        align-items: baseline;
        font-weight: 800;
        line-height: 1.2125;

        .we-work-with-clients-from-all-over-the-world-get-in-touch-with-us-XED-sub-0 {
        }
        .we-work-with-clients-from-all-over-the-world-get-in-touch-with-us-XED-sub-1 {
          color: #34b759;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 800;
          line-height: 1.2125;
        }
        .we-work-with-clients-from-all-over-the-world-get-in-touch-with-us-XED-sub-2 {
        }
        .we-work-with-clients-from-all-over-the-world-get-in-touch-with-us-XED-sub-3 {
          font-size: 2.4rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #34b759;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-c4za-1SD {
        margin: 0rem 6.1rem 3.7rem 0rem;
        height: 10.3rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-fyje-jd7 {
          flex-shrink: 0;
          margin: 0.6rem 11.2rem 0rem 0rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;

          .skill-icons-linkedin-fFs {
            width: 7.5rem;
            height: 6.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .linkedin-PSm {
            white-space: nowrap;
            margin-right: 0.2rem;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            align-items: baseline;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 800;
            line-height: 1.2125;

            .linkedin-PSm-sub-0 {
            }
            .linkedin-PSm-sub-1 {
              font-family: Inter, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 800;
              line-height: 1.2125;
              color: #0072c6;
            }
          }
        }
        .auto-group-9usn-P5P {
          margin-right: 8.3rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-1pgk-XhP {
            margin: 0rem 0.036rem 0.219rem 0rem;
            width: 7.0643rem;
            height: 7.5813rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .outlook-eGD {
            font-size: 2rem;
            font-weight: 800;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-u9yv-ndK {
          margin: 0.8rem 0rem 0.5rem 0rem;
          height: calc(100% - 1.3rem);
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .vector-uC9 {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.0376rem;
            width: 6.2624rem;
            height: 6.5rem;
            object-fit: contain;
          }
          .twitter-SC5 {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 800;
            line-height: 1.2125;
            color: #ffffff;
          }
        }
      }
      .auto-group-mxgu-mVF {
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .mdi-email-KWm {
          height: 4.1rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.3rem 0.5rem 0rem;
          width: 4.3rem;
        }
        .engplaubertgmailcom-eJ9 {
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 1.6rem 31.2rem 0rem 0rem;
          font-size: 2.4rem;
          font-weight: 800;
        }
        .ion-call-sharp-MTT {
          height: 3.9124rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.3rem 0.688rem 0rem;
          width: 3.6rem;
        }
        .item-250783881477-H6D {
          font-size: 2.4rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.4rem;
        }
      }
    }
    .auto-group-2uhs-yzd {
      height: calc(100% - 16.5rem);
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 7.4rem 24.4rem 9.1rem 0rem;

      .vector-JX7 {
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        width: 6.2rem;
        height: 5.3rem;
        object-fit: contain;
        vertical-align: top;
      }
      .github-eL5 {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .auto-group-dcey-yt9 {
      width: 4.2rem;
      height: 3.7rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 1rem;
    }
    .rwanda-7zM {
      font-size: 2.4rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.1rem;
    }
  }
  .plaubert-all-rights-reserved-vwo {
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-right: 20.3rem;
  }
}
