
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.portfolio-W3f {
  width: 100%;
  height: 102.2rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;

  .myportfolio-3JV {
    width: 100%;
    height: 100.7rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-ghyn-n1B {
      padding: 2.3rem 15rem 21rem 9.3rem;
      align-items: center;
      flex-direction: column;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:c597af89dcf4b4a615531b6c80178e77c884bac2');
      flex-shrink: 0;
      margin-bottom: 1.3rem;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      background-size: 100% 100%;

      .navbar-61s {
        flex-shrink: 0;
        margin-bottom: 17.5rem;
        width: 100%;
        display: flex;
        align-items: flex-start;

        .my-brand-ENy {
          font-size: 3.6rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #34b759;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 35.4rem;
        }
        .home-MiV {
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.3rem 5.9rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #ffffff;
          white-space: nowrap;
          cursor: pointer;
        }
        .about-me-FYy {
          cursor: pointer;
          font-size: 2rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 5.9rem;
          color: #f5f5f5;
          font-weight: 800;
        }
        .portfolio-mXK {
          color: #34b759;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 5.9rem;
          font-size: 2rem;
          font-weight: 800;
          line-height: 1.2125;
        }
        .contact-me-hfs {
          line-height: 1.2125;
          color: #ffffff;
          white-space: nowrap;
          cursor: pointer;
          font-size: 2rem;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 5.9rem;
          font-weight: 800;
        }
        .login-dZX {
          font-weight: 800;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 2rem;
        }
      }
      .my-portfolio-yNV {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 11.9rem;
        font-size: 6.4rem;
        font-weight: 800;
        line-height: 1.2125;
      }
    }
    .my-project-GMb {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 1.2rem 9.9rem;
      font-size: 3.6rem;
      font-weight: 800;
    }
    .auto-group-pfnc-PBK {
      width: calc(100% - 19.1rem);
      height: 40.8rem;
      display: flex;
      column-gap: 4.4rem;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 10.4rem 0rem 8.7rem;

      .auto-group-ahec-ssB {
        box-sizing: border-box;
        padding: 0.1rem 0rem 8.7rem 0rem;
        width: 38.7rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        border: solid 0.2rem #f5f5f5;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        flex-shrink: 0;
        height: 100%;
        border-radius: 1.5rem;

        .senti-1-PqX {
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          width: 38.7rem;
          height: 16rem;
          object-fit: cover;
          vertical-align: top;
        }
        .covid-vaccine-sentiment-analysis-8HK {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 3.8rem 0.1rem;
          font-size: 1.6rem;
          font-weight: 800;
          line-height: 1.2125;
        }
        .this-project-conducts-sentiment-analysis-on-unstructured-text-data-using-pretrained-models-from-hugging-face-for-text-classification-dzm {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-left: 3.1rem;
          max-width: 30.2rem;
        }
      }
      .auto-group-nzuc-e9B {
        display: flex;
        flex-direction: column;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 1.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 38.7rem;
        height: 100%;
        align-items: center;
        border: solid 0.2rem #f5f5f5;
        padding: 0.1rem 0rem 6.4rem 0rem;

        .sepsi-1-1-9bj {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.8rem;
          width: 38.7rem;
          height: 18rem;
        }
        .building-apis-for-machine-learning-applications-with-fastapi-3x1 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0.7rem 3.8rem 0rem;
          max-width: 27.6rem;
          font-size: 1.6rem;
          font-weight: 800;
          line-height: 1.2125;
        }
        .this-project-required-creating-a-machine-learning-back-end-using-the-fastapi-framework-that-can-be-integrated-with-a-front-end-8Tf {
          margin-left: 0.8rem;
          max-width: 29.1rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .auto-group-nsyq-97s {
        flex-direction: column;
        border: solid 0.2rem #ffffff;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 1.5rem;
        flex-shrink: 0;
        height: 100%;
        padding: 0.1rem 0rem 4.1rem 0rem;
        width: 38.7rem;
        align-items: center;
        display: flex;
        box-sizing: border-box;

        .opp2-1-1-fM7 {
          flex-shrink: 0;
          margin-bottom: 1.3rem;
          width: 38.7rem;
          height: 18rem;
          object-fit: cover;
          vertical-align: top;
        }
        .building-ml-model-and-embedding-it-in-gradio-app-customer-churningprediction-oCR {
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0rem 1.7rem 1.7rem;
          max-width: 30.8rem;
          font-size: 1.6rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #000000;
        }
        .this-project-creates-interactive-machine-learning-ml-web-applications-using-streamlit-and-gradio-frameworks-for-users-to-interact-with-ml-models-GLu {
          margin-left: 1.7rem;
          max-width: 30.8rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
    }
  }
}
