
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 150rem;
}.skills-DzD {
  position: relative;
  overflow: hidden;
  background-color: #000000;
  width: 100%;
  height: 153rem;

  .gravity-ui-abbr-sql-APf {
    left: 0;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
  }
  .gravity-ui-abbr-sql-u6M {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.6rem;
  }
  .skills-3CZ {
    height: 152rem;
    position: absolute;
    left: 0;
    top: 1.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 150rem;

    .auto-group-p1sk-aTP {
      flex-shrink: 0;
      width: 100%;
      height: 112.6rem;
      position: relative;

      .auto-group-759e-KA5 {
        width: 131.9rem;
        height: 4.4rem;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: flex-start;

        .gravity-ui-abbr-sql-eTF {
          margin-right: 10.6rem;
          width: 1.6rem;
          height: 1.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .navbar-a61 {
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          height: 100%;

          .my-brand-Dem {
            flex-shrink: 0;
            margin-right: 35.4rem;
            font-size: 3.6rem;
            font-weight: 800;
            line-height: 1.2125;
            color: #34b759;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .home-8mj {
            margin: 0.3rem 5.9rem 0rem 0rem;
            cursor: pointer;
            font-size: 2rem;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            font-weight: 800;
            line-height: 1.2125;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .about-me-EZs {
            line-height: 1.2125;
            white-space: nowrap;
            cursor: pointer;
            font-size: 2rem;
            color: #f5f5f5;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 5.9rem;
            font-weight: 800;
          }
          .portfolio-wjB {
            margin-right: 5.9rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            cursor: pointer;
            font-size: 2rem;
            font-weight: 800;
            color: #ffffff;
            flex-shrink: 0;
          }
          .contact-me-s73 {
            line-height: 1.2125;
            white-space: nowrap;
            margin-right: 5.9rem;
            cursor: pointer;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 800;
          }
          .login-BdX {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            font-size: 2rem;
            font-weight: 800;
            line-height: 1.2125;
            color: #ffffff;
          }
        }
      }
      .auto-group-56te-XBb {
        width: 116.4rem;
        height: 53rem;
        position: absolute;
        left: 14.7rem;
        top: 14.2rem;
        display: flex;
        align-items: center;

        .auto-group-jcd2-T5F {
          position: relative;
          flex-shrink: 0;
          margin: 0.1rem 10.6rem 0rem 0rem;
          width: 52.9rem;
          height: 52.9rem;

          .akar-icons-html-fill-Luj {
            top: 13.6rem;
            object-fit: contain;
            vertical-align: top;
            width: 2.4rem;
            height: 2.4rem;
            position: absolute;
            left: 13.2rem;
          }
          .rectangle-304-sPs {
            width: 52.9rem;
            height: 52.9rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #d9d9d9;
          }
          .version-control--Qub {
            position: absolute;
            font-size: 2rem;
            color: #000000;
            width: 16.6rem;
            left: 2rem;
            top: 47.8rem;
            font-weight: 800;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            height: 2.5rem;
          }
          .nosql-7Z7 {
            position: absolute;
            left: 12.9rem;
            font-size: 2rem;
            font-weight: 800;
            font-family: Inter, 'Source Sans Pro';
            width: 6.8rem;
            top: 42.5rem;
            line-height: 1.2125;
            color: #000000;
            white-space: nowrap;
            height: 2.5rem;
          }
          .web-application-qED {
            left: 13.2rem;
            top: 2.6rem;
            font-size: 3.2rem;
            width: 25.7rem;
            height: 3.9rem;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            font-weight: 800;
          }
          .front-end-development-building-front-end-part-using-LRs {
            font-weight: 800;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            width: 42.5rem;
            height: 7.3rem;
            position: absolute;
            color: #000000;
            left: 3rem;
            top: 11.7rem;
            font-size: 2rem;
          }
          .logos-html-5-RTK {
            height: 6.7828rem;
            position: absolute;
            left: 15.6116rem;
            top: 14.8rem;
            object-fit: contain;
            vertical-align: top;
            width: 6.6767rem;
          }
          .logos-css-3-wgZ {
            top: 14.8rem;
            object-fit: contain;
            vertical-align: top;
            width: 6.5771rem;
            height: 6.7828rem;
            position: absolute;
            left: 24.9115rem;
          }
          .skill-icons-javascript-Giq {
            position: absolute;
            left: 34.1rem;
            top: 15.7rem;
            object-fit: contain;
            vertical-align: top;
            width: 5.4rem;
            height: 5.2rem;
          }
          .devicon-react-wordmark-CcV {
            height: 4.7534rem;
            position: absolute;
            left: 42.5731rem;
            top: 15.3804rem;
            object-fit: contain;
            vertical-align: top;
            width: 4.4538rem;
          }
          .back-end-development-building-backend-part-using-8FF {
            line-height: 1.2125;
            position: absolute;
            left: 2.2rem;
            top: 26.7rem;
            font-size: 2rem;
            font-weight: 800;
            width: 46.2rem;
            height: 4.9rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .logos-nodejs-2Ld {
            height: 5.5839rem;
            position: absolute;
            left: 9.6032rem;
            top: 28.2rem;
            object-fit: contain;
            vertical-align: top;
            width: 7.1903rem;
          }
          .simple-icons-express-MNu {
            position: absolute;
            left: 17.9rem;
            top: 29.3023rem;
            object-fit: contain;
            vertical-align: top;
            width: 5rem;
            height: 2.495rem;
          }
          .devicon-plain-django-wordmark-sc9 {
            height: 2.5505rem;
            position: absolute;
            left: 23.9rem;
            top: 29.6748rem;
            object-fit: contain;
            vertical-align: top;
            width: 10.9rem;
          }
          .logos-fastapi-PqP {
            height: 2.1901rem;
            position: absolute;
            left: 37.3rem;
            top: 29.6rem;
            object-fit: contain;
            vertical-align: top;
            width: 9.3rem;
          }
          .bxl-spring-boot-j8Z {
            top: 32.8449rem;
            object-fit: contain;
            vertical-align: top;
            width: 4.8467rem;
            height: 3.5051rem;
            position: absolute;
            left: 21.4833rem;
          }
          .database--riy {
            line-height: 1.2125;
            height: 2.5rem;
            position: absolute;
            top: 37.6rem;
            font-weight: 800;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 10.9rem;
            left: 2.4rem;
            font-size: 2rem;
            color: #000000;
          }
          .sql-xn1 {
            width: 4.5rem;
            left: 13.4rem;
            font-size: 2rem;
            color: #000000;
            white-space: nowrap;
            font-family: Inter, 'Source Sans Pro';
            height: 2.5rem;
            position: absolute;
            top: 38.9rem;
            font-weight: 800;
            line-height: 1.2125;
          }
          .logos-mysql-sty {
            width: 10.8rem;
            height: 3.2966rem;
            position: absolute;
            left: 23.9rem;
            top: 38.3rem;
            object-fit: contain;
            vertical-align: top;
          }
          .logos-mongodb-CwF {
            display: flex;
            align-items: flex-end;
            width: 9.1rem;
            height: 3.574rem;
            position: absolute;
            left: 24.1rem;
            top: 41.5rem;
            overflow: hidden;

            .vector-vsF {
              height: 3.3041rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.514rem 0.27rem 0rem;
              width: 1.0283rem;
            }
            .vector-f49 {
              width: 7.5576rem;
              height: 2.4299rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .skill-icons-git-oAM {
            height: 6.3rem;
            position: absolute;
            left: 20.2rem;
            top: 45.9rem;
            object-fit: contain;
            vertical-align: top;
            width: 7.9rem;
          }
        }
        .auto-group-yrfn-Xs3 {
          padding: 3.5rem 2.3rem 0.6rem 2.3rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          box-sizing: border-box;
          width: 52.9rem;
          background-color: #d9d9d9;

          .data-analytics-SDK {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 4.1rem 3.5rem 0rem;
            font-size: 3.2rem;
            font-weight: 800;
            line-height: 1.2125;
            color: #000000;
          }
          .auto-group-mhbz-kzh {
            margin: 0rem 13rem 2.857rem 0.4rem;
            width: calc(100% - 13.4rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .programming-language--HUq {
              font-weight: 800;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 4rem 0.9rem 0rem;
              font-size: 2rem;
            }
            .skill-icons-python-light-oCH {
              width: 6.8rem;
              height: 5.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .auto-group-a1h6-X8H {
            flex-shrink: 0;
            margin: 0rem 4rem 2.103rem 0.2rem;
            width: calc(100% - 4.2rem);
            height: 7.2399rem;
            display: flex;
            align-items: flex-start;

            .auto-group-u7qv-EoP {
              flex-shrink: 0;
              margin: 0.043rem 1.8rem 0rem 0rem;
              width: 32.3rem;
              height: calc(100% - 0.0428rem);

              .data-manipulation-and-analysis--N8u {
                margin-bottom: 0.1029rem;
                font-size: 2rem;
                font-weight: 800;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .auto-group-rfcy-Uhj {
                margin: 0rem 11.249rem 0rem 3.1rem;
                width: calc(100% - 14.349rem);
                display: flex;
                align-items: flex-end;

                .devicon-pandas-wordmark-QbP {
                  margin-right: 4.449rem;
                  width: 10.7rem;
                  height: 4.5942rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .vscode-icons-file-type-sql-Xvu {
                  width: 2.8021rem;
                  height: 4.2875rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 0.0033rem;
                }
              }
            }
            .devicon-plain-numpy-wordmark-G7o {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 10rem;
              height: 3.0856rem;
            }
          }
          .auto-group-9kp6-bA5 {
            flex-shrink: 0;
            margin: 0rem 8.592rem 1.32rem 0.4rem;
            width: calc(100% - 8.9921rem);
            display: flex;
            align-items: flex-end;

            .data-visualisation--78R {
              font-size: 2rem;
              font-weight: 800;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 2.492rem 0.08rem 0rem;
            }
            .devicon-matplotlib-wordmark-ED3 {
              vertical-align: top;
              flex-shrink: 0;
              width: 18.1158rem;
              height: 2.1316rem;
              position: relative;
              object-fit: contain;
            }
          }
          .auto-group-zvzt-N4M {
            margin: 0rem 4rem 2.415rem 3.2rem;
            width: calc(100% - 7.2001rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .logos-seaborn-hMX {
              flex-shrink: 0;
              margin-right: 3.3rem;
              width: 15.0999rem;
              height: 3.5727rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
            .logos-tableau-EMT {
              margin-top: 1.3rem;
              width: 22.7rem;
              height: 3.7846rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .auto-group-v2v2-Mws {
            margin: 0rem 8.6rem 0.086rem 0.4rem;
            width: calc(100% - 9rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .machine-learning-tools--VYH {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 2.5rem;
              font-size: 2rem;
              font-weight: 800;
              line-height: 1.2125;
            }
            .logos-pytorch-pqT {
              align-items: flex-start;
              flex-shrink: 0;
              margin-top: 0.4rem;
              overflow: hidden;
              position: relative;
              display: flex;

              .vector-Nc5 {
                width: 1.9555rem;
                height: 2.199rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.04rem 0.971rem 0rem 0rem;
              }
              .vector-6ny {
                height: 2.9808rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 10.0735rem;
              }
            }
          }
          .auto-group-ulvi-FA5 {
            margin: 0rem 4rem 0.724rem 3.6rem;
            width: calc(100% - 7.6004rem);
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .devicon-scikitlearn-NkV {
              height: 4.3662rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 7.302rem 1.143rem 0rem;
              width: 13.9974rem;
            }
            .devicon-hadoop-wordmark-tyj {
              vertical-align: top;
              flex-shrink: 0;
              width: 19.4rem;
              height: 1.7523rem;
              position: relative;
              object-fit: contain;
            }
          }
          .big-data-technologies--qPB {
            font-size: 2rem;
            font-weight: 800;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 26rem;
          }
        }
      }
      .auto-group-kucg-XvD {
        background-color: #d9d9d9;
        box-sizing: border-box;
        padding: 0.7rem 0.8rem 12.7rem 0.8rem;
        width: 67.8rem;
        height: 41.5rem;
        position: absolute;
        left: 36.8rem;
        top: 71.1rem;

        .artificial-intelligence-CFf {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 1.9rem 15.8rem;
          font-size: 3.2rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #000000;
        }
        .auto-group-3zsl-JpV {
          align-items: center;
          height: 6.3rem;
          display: flex;

          .machine-learning-frameworks--FUq {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0.6rem 1.4rem 0rem;
            font-size: 2rem;
            font-weight: 800;
            line-height: 1.2125;
          }
          .skill-icons-scikitlearn-light-x8M {
            margin-right: 4.8rem;
            width: 13.1rem;
            height: 6.3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .logos-pytorch-tGu {
            margin: 0.9rem 0rem 0.929rem 0rem;
            height: calc(100% - 1.8288rem);
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .vector-D4H {
              margin: 0.06rem 0.837rem 0rem 0rem;
              width: 1.6847rem;
              height: 3.2985rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-Leh {
              width: 8.6787rem;
              height: 4.4712rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-yetn-HZw {
          margin: 0rem 0rem 2.8rem 0.2rem;
          display: flex;
          align-items: center;

          .deep-learning--RRF {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 1.4rem 2.8rem 0rem;
            font-size: 2rem;
            font-weight: 800;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .neural-network-1-kTX {
            height: 10.7rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2.9rem;
            width: 13rem;
          }
          .convolutional-neural-networks-gc5 {
            font-size: 2rem;
            font-weight: 800;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.6rem;
          }
        }
        .natural-language-processing--zsf {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2rem;
          font-weight: 800;
        }
      }
      .what-were-best-in-j4Z {
        line-height: 1.2125;
        color: #ffffff;
        left: 58.5rem;
        top: 5.9rem;
        font-size: 2.4rem;
        font-weight: 800;
        white-space: nowrap;
        width: 22rem;
        height: 3rem;
        position: absolute;
        font-family: Inter, 'Source Sans Pro';
      }
      .machine-learning-DkR {
        width: 28.4rem;
        height: 3.9rem;
        left: 57.1rem;
        font-weight: 800;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        top: 67.2rem;
        font-size: 3.2rem;
      }
    }
    .footer-page-v93 {
      width: 100%;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      padding: 7.4rem 0rem 2.8rem 0rem;
      background-color: #000000;
      flex-shrink: 0;
      height: 39.4rem;
      display: flex;

      .auto-group-wcon-dJM {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        border: solid 0.4rem #34b759;
        margin-bottom: 1.4rem;
        height: 24.8rem;
        align-items: flex-end;
        background-color: #000000;
        flex-shrink: 0;
        padding: 0rem 5.7rem 0rem 1.1rem;

        .auto-group-fl2q-YAR {
          margin: 0rem 4.1rem 0.3rem 0rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .we-work-with-clients-from-all-over-the-world-get-in-touch-with-us-4uT {
            color: #ffffff;
            display: flex;
            margin-bottom: 2.9rem;
            font-size: 2.4rem;
            font-weight: 800;
            align-items: baseline;
            flex-shrink: 0;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;

            .we-work-with-clients-from-all-over-the-world-get-in-touch-with-us-4uT-sub-0 {
            }
            .we-work-with-clients-from-all-over-the-world-get-in-touch-with-us-4uT-sub-1 {
              font-weight: 800;
              line-height: 1.2125;
              color: #34b759;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2.4rem;
            }
            .we-work-with-clients-from-all-over-the-world-get-in-touch-with-us-4uT-sub-2 {
            }
            .we-work-with-clients-from-all-over-the-world-get-in-touch-with-us-4uT-sub-3 {
              font-size: 2.4rem;
              font-weight: 800;
              line-height: 1.2125;
              color: #34b759;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .auto-group-b9ve-2dK {
            flex-shrink: 0;
            margin: 0rem 0rem 3.7rem 0.5rem;
            height: 10.3rem;
            display: flex;
            align-items: center;

            .auto-group-waza-M9o {
              box-sizing: border-box;
              padding: 0.8rem 11.2rem 0.2rem 0rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .my-brand-V17 {
                margin: 0.1rem 24.7rem 0rem 0rem;
                font-size: 3.6rem;
                font-weight: 800;
                line-height: 1.2125;
                color: #34b759;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .auto-group-mrxx-DC1 {
                height: 100%;
                align-items: flex-end;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .skill-icons-linkedin-kSq {
                  height: 6.8rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 7.5rem;
                }
                .linkedin-6Wh {
                  align-items: baseline;
                  flex-shrink: 0;
                  font-size: 2rem;
                  line-height: 1.2125;
                  display: flex;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-right: 0.2rem;
                  font-weight: 800;
                  color: #ffffff;

                  .linkedin-6Wh-sub-0 {
                  }
                  .linkedin-6Wh-sub-1 {
                    font-weight: 800;
                    line-height: 1.2125;
                    color: #0072c6;
                    font-family: Inter, 'Source Sans Pro';
                    font-size: 2rem;
                  }
                }
              }
            }
            .auto-group-uxhz-6QD {
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 8.3rem;
              height: 100%;
              align-items: center;
              display: flex;

              .auto-group-au7s-SDB {
                margin: 0rem 0.036rem 0.219rem 0rem;
                width: 7.0643rem;
                height: 7.5813rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .outlook-Z2u {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 800;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
              }
            }
            .auto-group-fefw-6Hj {
              align-items: flex-end;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 0.8rem 0rem 0.5rem 0rem;
              height: calc(100% - 1.3rem);

              .vector-QpD {
                width: 6.2624rem;
                height: 6.5rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 0.0376rem;
              }
              .twitter-YvR {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 800;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
              }
            }
          }
          .auto-group-rpgp-gmj {
            margin-left: 4.5rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .mdi-email-E2Z {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.3rem 0.5rem 0rem;
              width: 4.3rem;
              height: 4.1rem;
            }
            .engplaubertgmailcom-wxZ {
              font-size: 2.4rem;
              font-weight: 800;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 1.6rem 31.2rem 0rem 0rem;
            }
            .ion-call-sharp-Tvu {
              flex-shrink: 0;
              margin: 0rem 0.3rem 0.688rem 0rem;
              width: 3.6rem;
              height: 3.9124rem;
              object-fit: contain;
              vertical-align: top;
            }
            .item-250783881477-b1X {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.4rem;
              font-size: 2.4rem;
              font-weight: 800;
              line-height: 1.2125;
              color: #ffffff;
            }
          }
        }
        .auto-group-7vag-uH7 {
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 7.4rem 24.4rem 9.1rem 0rem;
          height: calc(100% - 16.5rem);

          .vector-pus {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            width: 6.2rem;
            height: 5.3rem;
          }
          .github-M97 {
            font-weight: 800;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
          }
        }
        .auto-group-su5z-gx5 {
          width: 4.2rem;
          height: 3.7rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1rem;
        }
        .rwanda-pYV {
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.1rem;
          font-size: 2.4rem;
          font-weight: 800;
        }
      }
      .plaubert-all-rights-reserved-itm {
        font-weight: 800;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 20.3rem;
        font-size: 2.4rem;
      }
    }
  }
}
